
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*--- Variables */
:root{
    --cool-color: #25A5AC;
    --strawberry-color:#FA7B7F;
    --white-color: white;
    --black-color: #313337;

    --space:10px;

--normal: 12px;

--box-shadow: 0 0 1px #c1bcbc;
}


html,body {
    padding:0px;
    margin:0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    background-color: var(--cool-color);
    padding: var(--space);
    color:var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;

}
nav li {
    
    padding-left: 20px;
    list-style: none;
    

}
nav li a {
    color: var(--white-color);
    text-decoration: none;
    padding: var(--space);
    border-radius: 2px;

}
nav li a:hover{
    background-color:var(--strawberry-color);
}

.main_section{
    padding: 15%;
    text-align: center;
}
.products {
    background-image: url("../img/curve.png");
    background-size: cover;
    background-position: center top;
    height: 80px;
    padding: 20%;
    display: flex;
}
.product{
    padding: var(--space);
    margin-top: -240px;
}

.product .content{
    background-color: white;
    padding: 15px;
    box-shadow: var(--box-shadow);
}
.img_content {
    text-align: center;
}

.main_button{
    background-color: var(--strawberry-color);;
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0px;
    cursor: pointer;
    border-radius: 2px;
}
.main_button:hover{
    background-color:  var(--cool-color);
}

.main_features{
    height: 300px;
    display: flex;
    padding: 100px;
    box-shadow: 0 2px 6px -6px black;
}
.main_features .container{
    margin: var(--space);   
    justify-content: center;
}

.main_features .container .content{
    margin: var(--space);
    background-color: var(--white-color);
    height: 300px;
}

.main_features .container img{
    width: 100%;
    border-radius: 1em;
}

.mentions{
    height: 300px;
    display: flex;
    padding: 10%;
  
}
.title{
    text-align: center;
    font-size: 14px;
    color: var(--black-color)
}

.mentions .container{
    margin: var(--space);
    padding: 10px;
    box-shadow: 0 2px 6px -6px black;
}
.mentions .container .mention_box .img_content{
    height: 100px;
    overflow: hidden;
}
.mentions .container .mention_box .img_content img{
    width: 100%;
    margin: -20px 0 0 0;
    overflow: hidden;
}
.mentions .container .mention_box .img_content:hover img 
{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.mentions .container .mention_box {
    overflow:hidden;
}

.mentions .container .mention_box .text_mention{
    background-color: var(--white-color);
    padding: var(--space);
    color: var(--black-color);
    font-size: 10px,

}


